<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='table_list.css') }}">
</head>
<body>
    <div class="background">
        <div class="header">
            <h1>DATABASES of {{ db_name }}</h1>
        </div>
        <div class="tables-box">
            <ul class="tables-list">
                {% for table in tables %}
                <li>
                    <div class="table-item">
                        <h2>{{ table }}</h2>
                        <form action="{{ url_for('table_actions', table_name=table) }}" method="POST">
                            <input type="hidden" name="db_name" value="{{ db_name }}">
                            <input type="hidden" name="user" value="{{ user }}">
                            <input type="hidden" name="password" value="{{ password }}">
                            
                            <div class="action-buttons">
                                <button class="action-btn" type="submit" name="action" value="view_data">View Data</button>
                                <button class="action-btn" type="submit" name="action" value="add_data">Add Data</button>
                                <button class="action-btn" type="submit" name="action" value="update_data">Update Data</button>
                                <button class="action-btn" type="submit" name="action" value="delete_data">Delete Data</button>
                            </div>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
