{% extends 'base.html' %}

{% block content %}
<h2>Vehicles in Database: {{ db_name }}</h2>
<table>
    <thead>
        <tr>
            <th>Vehicle ID</th>
            <th>Model</th>
            <th>Make</th>
            <th>Year</th>
            <th>Type</th>
            <th>Color</th>
            <th>Registration Number</th>
            <th>Restoration Status</th>
            <th>Ownership Status</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle.Vehicle_ID }}</td>
            <td>{{ vehicle.Model }}</td>
            <td>{{ vehicle.Make }}</td>
            <td>{{ vehicle.Year }}</td>
            <td>{{ vehicle.Vehicle_Type }}</td>
            <td>{{ vehicle.Color }}</td>
            <td>{{ vehicle.Registration_Number }}</td>
            <td>{{ vehicle.Restoration_Status }}</td>
            <td>{{ vehicle.Ownership_Status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

