<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ table_name }} Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
</head>
<body>
    <div class="background">
        <div class="header">
            <h1>Data in {{ table_name }}</h1>
        </div>
        <div class="tables-box">
            <table>
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('use_database', db_name=db_name, user=user, password=password) }}" class="back-link">Back</a>
        </div>
    </div>
</body>
</html>
